@font-face {
  font-family: "SF Sports Night";
  src: url("./SF-Sports-Night.woff2") format("woff2"),
       url("./SF-Sports-Night.woff") format("woff"),
       url("./SF-Sports-Night.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
