.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto; /* Altura automática conforme conteúdo */
  background-color: var(--color-link);
  position: relative;
  z-index: 200;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3); /* Sombra para destaque */
}
